.movies-cards-list {
  padding-bottom: 80px;
}

.movies-cards-list__cards {
  min-height: 45vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 43px 30px;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 64px;
  justify-items: center;
}

.movies-cards-list__more-movies-button {
  width: 100%;
  background-color: #2F2F2F;
  border: none;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: inherit;
  cursor: pointer;
  transition: opacity .2s linear;
  border-radius: 6px;
}

.movies-cards-list__more-movies-button:hover {
  opacity: .7;
}