.movies-card {
  width: 360px;
  min-height: 247px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 14px;  
}

.movies-card__poster {
  border-radius: 6px;
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 201px;
  background-color: #2f2f2f;
}

.movies-card__description {
  display: flex;
  width: calc(100% - 14px * 2);
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
}

.movies-card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  margin: 0;
  max-width: 250px;
}

.movies-card__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #8B8B8B;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #2F2F2F;
  border-radius: 3px;
  width: 52px;
  height: 18px;
  text-align: center;
  box-sizing: border-box;
}

.movies-card__button {
  background-color: transparent;
  border: none;
  box-sizing: border-box; 
  position: absolute;
  top: 14px;
  right: 14px;
  opacity: 0;
  transition: opacity .2s linear;
  cursor: pointer;
} 

.movies-card:hover .movies-card__button {
  opacity: 1;
}

.movies-card:hover .movies-card__button:hover {
  opacity: .7;
}

.movies-card__save-button {
  border-radius: 30px;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  background-color: #313131;
  padding: 6px 7px;
}

.movies-card__save-button_saved {
  background-image: url(../../images/saved.svg);
  width: 21px;
  height: 21px;
  opacity: 1;
}

.movies-card__delete-button {
  background-image: url(../../images/delete-button.svg);
  width: 21px;
  height: 21px;
}

@media screen and (max-width: 1024px) {
  .movies-card {
    gap: 25px;
    width: 340px;
  }

  .movies-card__description {
    width: 100%;
  }

  .movies-card__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (max-width: 550px) {
  .movies-card {
    min-height: auto;
    gap: 18px;
    width: 300px;
  }

  .movies-card__name {
    font-size: 12px;
  }

  .movies-card__description {
    gap: 0;
  }
}