.tooltip {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #FF004C;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 90px;
}

.tooltip_profile {
  bottom: 130px;
}

.tooltip_show {
  display: block;
}