.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 90vh;
  padding-top: 94px;
}

.not-found__title {
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 6px;
}

.not-found__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 184px;
}

.not-found__button {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #4285F4;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opcity .2s linear;
}

.not-found__button:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding-top: 223px;
  }
}

@media screen and (max-width:550px) {
  .not-found {
    padding-top: 118px;
    justify-content: normal;
  }

  .not-found__title {
    font-size: 80px;
    margin-top: 212px;
    margin-bottom: 10px;
  }

  .not-found__subtitle {
    font-size: 12px;
    margin-bottom: 284px;
  }

  .not-found__button {
    font-size: 12px;
  }
}