.techs {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
}

.techs__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  margin: 0;  
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  align-self: flex-start;
  width: 100%;
}

.techs__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.1;
  margin-top: 94px;
  margin-bottom: 26px;
}

.techs__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  max-width: 460px;
  text-align: center;
  margin-bottom: 100px;
}

.techs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

.techs__list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  background-color: #303030;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  text-align: center;
  padding-top: 21px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .techs {
    padding: 94px 50px ;
  }

  .techs__subtitle {
    margin-top: 80px;
    margin-bottom: 22px;    
  }

  .techs__list-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
  }

  .techs__paragraph {
    margin-bottom: 83px;
  }

  .techs__list {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 680px) {
  .techs {
    padding: 70px 18px;
    background-color: #202020;
  }

  .techs__title {
    font-size: 18px;
  }

  .techs__subtitle {
    font-size: 30px;
    margin-top: 66px;
  }

  .techs__list {
    margin: auto 53px;
  }

  .techs__list-item {
    width: 84px;
    height: 57px;
  }

  .techs__paragraph {
    margin-bottom: 27px;
  }
}